<account>
    <master_url>{{ project.url }}</master_url>
    <authenticator>{{ project.key }}</authenticator>
    <project_name>Constellation</project_name>
<project_preferences>
</project_preferences>
<gui_urls>

    <gui_url>
        <name>Help</name>
        <description>Get help about AeroSpaceResearch.net/Constellation</description>
        <url>http://aerospaceresearch.net/constellation/forum_index.php</url>
    </gui_url>
    <gui_url>
        <name>Your account</name>
        <description>View your account information and credit totals</description>
        <url>http://aerospaceresearch.net/constellation/home.php</url>
    </gui_url>
</gui_urls>
</account>
